body {
    text-align: center;
    background-color: lightgray;
}

.welcome, .instructions {
    margin-bottom: 4em;
}

.form {
    margin-bottom: 4em;
}

input {
    margin-bottom: 1em;
}

.argumentsInput {
    height: 2em;
    width: 25em;
}